@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .gradient-text-t-to-b {
    opacity: 0.4;
    background: linear-gradient(180deg, #FFF 0%, #000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .gradient-text-b-to-t {
    opacity: 0.4;
    background: linear-gradient(180deg, #000 0%, #FFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.filter-bk40 {
  filter: invert(71%) sepia(5%) saturate(194%) hue-rotate(202deg) brightness(87%) contrast(80%);
}

.circle:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 4px;
  height: 2px;
  width: 2px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  transform: translateY(-50%);
}

.react-modal-sheet-backdrop {
  min-width: 360px;
  max-width: 448px;
  left: 50% !important;
  transform: translateX(-50%);
}

.react-modal-sheet-container {
  border-radius: 0 !important;
}

