@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.filter-bk40 {
  filter: invert(71%) sepia(5%) saturate(194%) hue-rotate(202deg) brightness(87%) contrast(80%);
}

.circle:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 4px;
  height: 2px;
  width: 2px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  transform: translateY(-50%);
}

.react-modal-sheet-backdrop {
  min-width: 360px;
  max-width: 448px;
  left: 50% !important;
  transform: translateX(-50%);
}

.react-modal-sheet-container {
  border-radius: 0 !important;
}
